.homeContainer {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}

.navbar {
  width: 20vw;
  height: 100vh;
  background-color: #d9d9d9;
}

.content {
  width: 80vw;
  background-color: white;
}

hr {
  background-color: #ececec;
  border: none;
  height: 0.2vh;
}

.settingsContent {
  font-family: "Inter", sans-serif;

  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 4vh;
  padding-top: 1vh;
}

.profileForm {
  margin-top: 4vh;
}

.employeesContent {
  font-family: "Inter", sans-serif;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 4vh;
  padding-top: 1vh;
}

.navigatorSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addEmployeeButton {
  width: 8vw;
  padding: 1vh;
  border-radius: 0.7rem;
  border: none;
  background-color: #d9d9d9;
  font-family: "REM", sans-serif;
  color: #636060;
  cursor: pointer;
}
